.flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    flex: 1 0 calc(33.333% - 20px);
    flex-flow: row wrap;
   
}

.flex div {
    border: 1px #ccc solid;
    padding:20px;
    flex: 1 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    
}

.card1 {
    flex: 1 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background: #03A9F4;
    margin: 10px;
    padding: 0%;
    border-color: #BDBDBD
}

.card2 {
    flex: 1 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background: #0288D1;
    margin: 10px;
    padding: 0%;
    border-color: #BDBDBD
}

.card3 {
    flex: 1 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background: #03A9F4;
    margin: 10px;
    padding: 0%;
    border-color: #BDBDBD
}

.card4 {
    flex: 1 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background: #0288D1;
    margin: 10px;
    padding: 0%;
    border-color: #BDBDBD
}


/*body {
    background-color: #0288D1;
}
*/

h1 {
    text-align: center;
    font: bolder 100px 'Zen Tokyo ZooZen Tokyo Zoo';
    font-family: 'Zen Tokyo Zoo', cursive;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #212121;
    border-color:lightblue;  
    border-width: 1px;  
    border-style: solid;
    text-align: center;
    font: bolder 30px 'Zen Tokyo ZooZen Tokyo Zoo';
    font-family: 'Zen Tokyo Zoo', cursive;
        
}

h4 {
    text-align: center;
    font: bolder 50px 'Zen Tokyo ZooZen Tokyo Zoo';
    font-family: 'Zen Tokyo Zoo', cursive;
}

h5 {
    text-align: center;
    font: bolder 50px 'Zen Tokyo ZooZen Tokyo Zoo';
    font-family: 'Zen Tokyo Zoo', cursive; 
}

.card-description {
    text-align: center;
    font: bolder 30px 'Zen Tokyo ZooZen Tokyo Zoo';
    font-family: 'Zen Tokyo Zoo', cursive; 
}

ul {
    justify-content: center;
    font: bolder 20px 'Baloo Chettan 2';
    font-family: 'Baloo Chettan 2', cursive; 
}

h6 {
    text-align: center;
    font: bolder 30px 'Zen Tokyo ZooZen Tokyo Zoo';
    font-family: 'Zen Tokyo Zoo', cursive;  
}

.card-text {
    justify-content: center;
    font: bolder 20px 'Baloo Chettan 2';
    font-family: 'Baloo Chettan 2', cursive; 
}

footer {
    justify-content: center;
    font: bolder 20px 'Zen Tokyo ZooZen Tokyo Zoo';
    font-family: 'Zen Tokyo Zoo', cursive;
}
/* https://www.javatpoint.com/how-to-add-border-in-html - refernce to border */





/* stuff I don't want anymore but maybe later not sure */






/*.image {
    height: 400px;
    width: 400px;
}

img {
    max-height: 400px;
    max-width: 400px;
    align-items: baseline;
}

/*.card { //couldn't get this to work the way I wanted it to so tried to restart, just decided to edit each box by themselves.
    margin: 10px;
    box-shadow: 4px 4px 10px #009688;
    border: solid 1px #BDBDBD;
    padding-left: 0%;
    padding-right: 0%;
    font-family: 'Zen Loop', cursive;
    flex-basis: 28%;
    flex-grow: 1;
}
*/